﻿@using halamek_umbraco.Models;
@using halamek_umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactFormViewModel>

@if (TempData["success"] == null)
{
    using (Html.BeginUmbracoForm<ContactFormSurfaceController>("HandleFormSubmit"))
    {
        <div class="form" id="contact-form">
            <div class="form__wrapper">
                <div class="form__item">
                    <label class="form__label" for="Name">@Umbraco.GetDictionaryValue("Name"):</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form__input", id = "Name", required = "true" })
                </div>
                <div class="form__item">
                    <label class="form__label" for="email">@Umbraco.GetDictionaryValue("Email"):</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form__input", type = "email", id = "Email", required = "true" })
                </div>
                <div class="form__item">
                    <label class="form__label" for="Phone">@Umbraco.GetDictionaryValue("Phone"):</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form__input", type = "text", id = "Phone" })
                </div>
                <div class="form__item form__item--last">
                    <label class="form__label" for="Message">@Umbraco.GetDictionaryValue("Message"):</label>
                    @Html.TextAreaFor(m => m.Message, new { @class = "form__textarea", id = "Message", required = "true", rows = "9", cols = "45" })               
                </div>
                <div class="form__submit g-recaptcha" onclick="onSendClick()"
                 data-sitekey="6LfyTSAUAAAAAPWcwoCjy57OWppE7ZQNoyn8yPAg" data-callback='onSubmit' data-size="invisible">
                    Send Message
                </div>    
            </div>
        </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
              var contactForm = document.getElementById("contact-form").parentElement;
        function onSendClick(){
            if(contactForm.checkValidity()){
                grecaptcha.execute();
            }else{
                alert('Please fill all fields correctly.');
                var emailField = document.querySelector('#Email');
                removeClass(emailField,'form__invalid');
                if(!emailField.checkValidity() && emailField.value.length > 0){
                    addClass(emailField, 'form__invalid');
                }
            }
        }
        function onSubmit(token) {
            contactForm.submit();
       }
    </script>
        }

    }
    else if ((bool)TempData["success"])
{
    <div class="thanks" id="thanks">
        @Umbraco.GetDictionaryValue("ThankYou")
    </div>
}
else
{
    <div class="thanks" id="thanks">
        @Umbraco.GetDictionaryValue("Error")
    </div>
}