﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<title>Halámek - @Umbraco.Field("seoTitle", altFieldAlias: "pageName")</title>
<meta name="description" content="@Umbraco.Field("seoMetaDescription", recursive: true)">
