﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="page-container">
    <div class="about">
        @Model.Content.GetGridHtml(Html, "aboutGrid","bootstrap3-Fluid")
    </div>
</div>
<div class="arrow-up">
    <svg class="svg-scrollup" id="arrowUp">
        <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#scrollup")" />
    </svg>
</div>
