﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
	<div class="article">
	<div class="article__date">@Model.Content.CreateDate.ToString("dd.MMMM yyyy")</div>
           <h1 class="article__header">@Model.Content.Name</h1>
            <p class="article__abstract">
               @Umbraco.Field("articleExcerpt")
            </p>
				@Umbraco.Field("articleContent")
	</div>