﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var articles = Model.Content.Children;
}
<div class="page-container">
           <div class="blog-preview">
				@foreach(var item in articles){
                    <div class="blog-preview__item">
                        <div class="blog-preview__left">
                            @{var cropUrl = item.GetCropUrl("articleThumbnail","Thumbnail");}
                            <div class="blog-preview__img" style="background-image: url('@cropUrl');"></div>
                        </div>

                        <div class="blog-preview__right">
                            <h1 class="blog-preview__header"><a href="@item.Url">@item.Name</a></h1>
                            <p class="blog-preview__text">
                                @item.GetPropertyValue("articleExcerpt")
                            </p>
                            <div class="blog-preview__date">@item.CreateDate.ToString("dd.MMMM yyyy")</div>
                        </div>
                    </div>
				}
		</div>
</div>