﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="map" id="map"></div>
<div class="page-container">
    <div class="contact">
        <div class="contact__first">
            <h1 class="contact__header">@Umbraco.Field("contactTitle")</h1>
            <p class="contact__text">
                @Umbraco.Field("contactParagraph", removeParagraphTags: true)
            </p>
        </div>
        <div class="contact__second">
            <p>
                @Umbraco.Field("address", convertLineBreaks: true, removeParagraphTags: true)
            </p>
        </div>
        <div class="contact__third">
            <p>
                @Umbraco.Field("contactPhone")<br />
                <a class="contact__email" href="mailto:@Umbraco.Field("contactEmail")">@Umbraco.Field("contactEmail")</a>
            </p>
        </div>
    </div>
</div>
<div class="page-container">
    @Html.Action("Index","ContactFormSurface")
</div>
<div class="arrow-up">
    <svg class="svg-scrollup" id="arrowUp">
        <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#scrollup")" />
    </svg>
</div>

<script>
    var appRoot = "@Url.Content("~")";
    var latitude = Number("@Umbraco.Field("mapLatitude").ToString().Replace(",",".")");
    var longtitude = Number("@Umbraco.Field("mapLongtitude").ToString().Replace(",",".")");
</script>