﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var site = Model.Content.AncestorOrSelf("site");
	var menuItems = site.Children.Where("Visible");
}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        @Html.Partial("RankOne - Seo Properties")
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Halámek - @Model.Content.GetPropertyValue("seoTitle")">
        <meta property="og:description" content="@Model.Content.GetPropertyValue("seoMetaDescription")">
        <meta property="og:image" content="@("https://vojtechhalamek.cz" + Url.Content("~/images/thumb.png"))">
        <meta property="og:url" content="@Model.Content.UrlAbsolute()">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="@Model.Content.GetPropertyValue("seoMetaDescription")">
        <meta name="twitter:image" content="@("https://vojtechhalamek.cz" + Url.Content("~/images/thumbnail.png"))">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		<link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/css/style.min.css")?v2" rel="stylesheet" />
    </head>
    <body>   
        <div class="wrapper">     
            <header class="header">      
                <div class="header__left">
                    <a href="@site.Url">
                        <svg class="svg-logo">
                            <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#halamek")" />
                        </svg>
                    </a>

                    <div class="menu--small" id="hamburgerMenu">
                        <svg class="svg-hamburger">
                            <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#hamburger")" />
                        </svg>
                    </div>
                </div>
                <nav class="header__right">
                    <ul class="menu">
                        <li class="menu__item @(site.Url == Model.Content.Url? "menu__item--active" : null)"><a href="@site.Url">Home</a></li>
						@foreach (var item in menuItems){
						<li class="menu__item @(item.IsAncestorOrSelf(Model.Content)? "menu__item--active" : null)"><a href="@item.Url">@item.Name</a></li>
						}
                    </ul>
                </nav>
            </header>

		@RenderBody()

        </div>

         <footer class="footer">
            <div class="footer__left">
                @Html.Partial("LanguageSelector")
            </div>      
            <div class="footer__center"> 2017 &copy; all rights reserved</div> 
            <div class="footer__right">
                <a href="http://elisiondesign.cz/">by elision 2017</a>                
            </div>     
        </footer>
        <script src="@Url.Content("~/scripts/script.min.js")?v1" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArOBPn85QyfyNx2MikHOmzF9TodrT0W8A&callback=initMap"
        async defer></script>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-53894250-14', 'auto');
              ga('send', 'pageview');
        </script>
    </body>
</html>