﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PageNotFound>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="not-found">
@Umbraco.Field("content")
</div>