﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    var imagesList = Model.Content.GetPropertyValue<string>("projectPhotos").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var imagesCollection = Umbraco.TypedMedia(imagesList).Where(x => x != null);
}
		<div class="Wallop Wallop--slide project project--visible" id="projectFullWrapper">
                 <svg id="leftArrow" class="Wallop-buttonPrevious project__arrow-left svg-back">
                    <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#back")" />
                </svg>
                 <svg id="rightArrow" class="Wallop-buttonNext project__arrow-right svg-forward-black">
                    <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#forward")" />
                </svg>
                <div class="Wallop-list">
					<div class="Wallop-item project__item">
                        	<div class="project__left-column" style="background-image: url('@(imagesCollection.First().Url+ "?width=1920&height=1080&mode=min")');"></div>
                        	<div class="project__right-column"> 
                            	<div class="project__description">
                                	<h1 class="project__header">@CurrentPage.Name</h1>
										<p>@Umbraco.Field("projectLocation")</p>
										<p>@CurrentPage.projectYear.ToString("yyyy")</p>
										<p>@Umbraco.Field("projectDescription")</p>
                            	</div>
                        	</div>
                    	</div>
					@foreach(var image in imagesCollection.Skip(1)){
						<div class="Wallop-item project__item">
                        	<div class="project__single lazyload" style="background-image: url('@(image.Url)');"></div>
                    	</div>
					}

                </div>
                <div class="view-switcher">
                    <svg class="svg-tile view-switcher__svg" id="setTiles">
                        <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#tile")"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="projectTilesWrapper" class="screen-overlay">
            <svg class="svg-cancel screen-overlay__cancel">
                    <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#cancel")"/>
            </svg>
            <div class="thumbnails" id="projectTiles">
                <div class="thumbnails__item">
                    <div class="thumbnails__title">
                        @Model.Content.Name
                    </div>
                    <div class="thumbnails__img" style="background-image: url('@imagesCollection.First().GetCropUrl(width:375, height:250)');"></div>
                </div>
				@foreach (var thumb in imagesCollection.Skip(1)) {
				<div class="thumbnails__item">
                    <div class="thumbnails__img" style="background-image: url('@thumb.GetCropUrl(width:375, height:250)');"></div>
                </div>
				}
		</div>