﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var children = Model.Content.Children;
}
<div class="tiles">
	@foreach (var project in children){
		<div class="tiles__item">
            <a href="@project.Url">
               	<div class="tiles__zoomin">
                     <img src="@project.GetCropUrl("projectThumbnail","thumbnail")" alt="project" />
                        <div class="tiles__description">
                            @project.Name
                        </div>
                </div>
             </a>
       	</div>		
	}
</div>