﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var slides = Model.Content.DescendantsOrSelf("home").First().Children;
}
            <div class="Wallop Wallop--slide jumbo" id="jumbo">
                <svg id="leftArrow" class="Wallop-buttonPrevious arrow__left svg-back">
                    <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#back")" />
                </svg>
                <svg id="rightArrow" class="Wallop-buttonNext arrow__right svg-forward">
                    <use xlink:href="@Url.Content("~/images/sprite.symbol.svg#forward")" />
                </svg>
                <div class="Wallop-list">
					@foreach (var slide in slides){
                        var imgUrl = Umbraco.TypedMedia(slide.GetPropertyValue("mainSliderImage").ToString()).Url;
						<div class="Wallop-item jumbo" style="background-image: url('@String.Format("{0}?width=1920&height=1080&mode=min", imgUrl)');">
							<blockquote class="jumbo__description">
                            	@slide.GetPropertyValue("mainSliderQuote")
                        	</blockquote>
                    	</div>
					}
                </div>
            </div>